@import url('https://fonts.googleapis.com/css2?family=Agdasima&family=DM+Sans:wght@400;700&display=swap');

:root {
    --dark_blue: #23294e;
    --dark: #0c1f22;
    --blue: #0aa2ba;
    --yellow: #fff700;
    --white: #ffffff;
    --glass: #62b2d571;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background-image: url(./images/background-image-mobile.jpg);
    background-size: cover;
    font-family: 'DM Sans', sans-serif;
    overflow-x: unset;
}

header .institute {
    display: flex;
    background-color: #f1f1f1;
    padding: .75rem;
    align-items: center;
    justify-content: center;
}

header .institute img {
    width: 5rem;
    margin: .25rem;
}

header .institute h1 {
    font-family: 'Agdasima', sans-serif;
    font-size: 1.6rem;
}

header .subtitle {
    background-image: linear-gradient(0deg, var(--blue), var(--dark_blue));
    margin: 0;
    color: var(--white);
    padding: 1.5rem .75rem 1.5rem .75rem;
    text-align: center;
}

header .subtitle span {
    color: var(--yellow);
    padding: .25rem;
    font-size: 1.75rem;
    text-transform: uppercase;
}

main {
    margin-bottom: 15%;
}

main .intro {
    padding: 1rem .75rem 0 .75rem;
}

main .intro p{
    color: var(--dark);
    font-weight: bold;
    font-size: 1.15rem;
    line-height: 1.4rem;
    margin-bottom: 1rem;
}

main .cefaleia-types {
    padding: 1rem 0;
}

main img {
    width: 100%
}

main ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 1rem;
    padding: 1rem;
}

main ul li {
    list-style: none;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    margin: .75rem; 
    font-weight: bold;
    font-size: 1.75rem;
    background-image: linear-gradient(45deg, var(--dark_blue), var(--blue));
    color: var(--yellow);

    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    background-image: linear-gradient(90deg, var(--dark_blue), var(--blue));
    text-align: center;
    font-size: 1.25rem;
    padding: 1.5rem 0;
    color: var(--white);
}

/*Mobile*/

@media screen and (min-width: 600px) {
    main ul {
        display: flex;
        justify-content: center;
    }
}

@media screen and (min-width: 800px) {
    header .institute {
        padding: 1rem;
    }

    header .institute h1 {
        font-size: 2.25rem;
    }
    
    header .institute img {
        width: 6rem;
    }
    
    header .subtitle {
        padding: 2rem 1rem;
        font-size: 1.75rem;
    }

    main .intro {
        padding: 2rem 2rem 0 2rem;   
    }
       
    main .intro p{
        font-size: 1.25rem;
    }

    main .cefaleia-types {
        width: 90%;
        margin: auto;
    }

    main img {
        border-radius: .5rem;
    }
    
    main ul li {
        font-size: 2rem;
        transition: .25s;
    }

    main ul li:hover {
        scale: 1.15;
        cursor: pointer;
    }
}

/*Kindle*/

@media screen and (min-width: 800px) and (min-height: 1200px) and (max-height: 1300px) {
    main {
        margin-bottom: 35%;
    }
}

/*Desktop*/

@media screen and (min-width: 1000px) {
    body {
        background-image: url(./images/background-image-desktop.jpg);
    }

    main {
        width: 80%;
        margin: auto;
        background-color: var(--glass);
    }

    main .intro {
        padding: 2rem 3rem 0 3rem;
    }

    main ul li {
        width: 5rem;
        height: 5rem;
    }
}

@media screen and (min-width: 1200px) {
    header .institute {
        padding: 1.5rem;
    }
    
    header .institute h1 {
        font-size: 3rem;
    }
    
    header .institute img {
        width: 8rem;
    }
    
    header .subtitle {
        padding: 3rem 1.5rem;
        text-align: center;
        font-size: 2rem;
    }
    
    main {
        width: 70%;
        margin: auto;
    }

    main .cefaleia-types {
        width: 85%;
        margin: auto;
    }
}
